{% extends "adminbase.html" %}
{% block title %}NEU django OJ{% endblock %}
{% block middle %}
<form action="" method=post >
	title <input type=text name=title ><br>
	time<input type=text name=time value=1 >second<br>
	memory<input type=text name=memory value=64000 >KB<br>
	describe<br><textarea rows=30 cols=80 name=text ></textarea><br>
	input<br><textarea rows=10 cols=80 name=input ></textarea><br>
	output<br><textarea rows=10 cols=80 name=output ></textarea><br>
	samplein<br><textarea rows=20 cols=80 name=samplein ></textarea><br>
	sampleout<br><textarea rows=20 cols=80 name=sampleout ></textarea><br>
	hint<br><textarea rows=10 cols=80 name=hint ></textarea><br>
	source<br><textarea rows=5 cols=80 name=hint ></textarea><br>
	<input type=submit>
</form>
{% endblock %}
