<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"> 
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<table align=center width=100%>
			<tr>
				<td width=20% ><a href=/admin/problems/>problems</a></td>
				<td width=20% ><a href=/admin/submitions/>submitions</a></td>
				<td width=20% ><a href=/admin/contest/>contests</a></td>
				<td width=20% ><a href=/admin/news/>news</a></td>
				<td width=20% ><a href=/admin/notice/>notice</a></td>
			</tr>
		</table>
		{% block middle %}
		{% endblock %}
		this is footer<br>
		ADMIN GUIDE<br>
		<a href=/admin/>ADMIN HOME</a><br>
		<a href=/>HOME</a><br>

	</body>


</html>
