{% extends "conbase.html" %}
{% block middle %}
<center>
	<h2>{{contest.title}}</h2>	
	{{contest.start}}||{{contest.end}}<br>
	now:{{time}}
<table width=600>
		<tr>
			<td width=20%>Solved</td>
			<td width=20%>ProblemID</td>
			<td width=40%>Title</td>
			<td width=20%>Solved/Submitions</td>
		</tr>
		{% for problem in problems %}
		<tr>
		<td>{{problem.solved}}</td>
		<td>{{problem.num}}</td>
		<td><a href={{problem.num}}>{{problem.title}}</a></td>
		<td>{{problem.AC}}/{{problem.submit}}</td>
		</tr>
		{% endfor %}
</table>
</center>
{% endblock %}
