{% extends "ojbase.html" %}
{% block title %}NEU django OJ{% endblock %}
{% block middle %}
<!--form method=get align=center >
	<input type=text name=rankstart >
	<input type=submit>
</form-->
<table width=100% class="table table-hover">
	<tr>
		<th width=10% >
			rank
		</th>
		<th width=15% >
			username
		</th>
		<th width=15% >
			nickname
		</th>
		<th width=15% >
			school
		</th>
		<th width=15% >
			AC
		</th>
		<th width=15% >
			submit
		</th>
		<th width=15% >
			ratio
		</th>
	</tr>
	<tr>
{% for user in users %}
{% for out in user %}
<td>
	{{out}}
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}

