{% extends "ojbase.html" %}
{% block title %}NEU django OJ{% endblock %}
{% block middle %}
<form method=get align=center >
	username:<input type=text name=user style="width:100" >
	problemID:<input type=text name=problem style="width:100" >
	runid<input type=text name=runid style="width:100" >
	<input type=submit value=GO>
</form>
<table width=100% class="table table-striped">
	<tr>
		<th width=10% >
			ID
		</th>
		<th width=10% >
			username
		</th>
		<th width=10% >
			problem ID
		</th>
		<th width=20% >
			result
		</th>
		<th width=10% >
			memory
		</th>
		<th width=10% >
			time
		</th>
		<th width=10% >
			language
		</th>
		<th width=10% >
			code length
		</th>
		<th width=10% >
			submit time
		</th>
	</tr>
	{% for s in status %}
	<tr>
		<td>{{s.id}}</td>
		<td><a href=/user/{{s.user.username}}/>{{s.user.username}}</a></td>
		<td><a href=/problem/{{s.problem.id}}/>{{s.problem.id}}</a></td>
		<td>{{s.result}}</td>
		<td>{{s.memory}}</td>
		<td>{{s.time}}</td>
		<td>{% ifequal login.username s.user.username %}<a href=/viewcode/{{s.id}}/ >{{s.lang}}</a>{% else %}{{s.lang}}{% endifequal %}</td>
		<td>{{s.sourcelong}}</td>
		<td>{{s.create|date:"Y-m-d H:i:s"}}</td>
	</tr>
	{% endfor %}
	<tr><td></td><td></td><td></td><td><a href={{pre}}>pre page</a></td><td>   <a href={{next}}>next page</a></td>
	</tr>
</table>
{% endblock %}

