<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"> 
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shCore.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushCpp.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushJava.js"></script> 
<link type="text/css" rel="stylesheet" href="/static/syntaxhighlighter/styles/shCoreDefault.css"/> 
<script type="text/javascript">SyntaxHighlighter.all();</script> 
</head>
<body>
<pre class="brush: {% ifequal submit.lang JAVA %}java{% else %}cpp{% endifequal %};"> 
/*
username:	{{submit.user.username}}
problemID:	{{submit.problem.id}}
time:		{{submit.time}}ms
memory:		{{submit.memory}}KB
result:		{{submit.result}}	
language:	{{submit.lang}}
----created by neuoj*/

{{submit.source}}
</pre> 

</body>
</html>
